html {
    height: 100%;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

nav {
    background-color: rgb(16, 16, 14);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: rgb(249,249,249);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1%;
    background-color: rgb(16, 16, 14);
    color: rgb(245, 237, 221);
}

.social-media {
  right: 0;
  position: absolute;
}

.social-media a {
  margin: 10px;
  top: 50%;
  padding-bottom: 5px;
}

.pic {
    width: 32px;
    height: 32px;
}

#copyright {
  margin: 0 auto;
}

.arrow {
    width: 50px;
    height: 50px;
}

.arrow_button {
    background-color: rgb(16, 16, 14, 0.8);
    border-color: rgb(0, 0, 0, 0);
    height: 842px;
    transition: background-color 0.25s;
}

.arrow_button:hover {
    background-color: rgb(245, 237, 221, 0.25);
}

.arrow_button:focus {
    outline: none;
}

#movingGallery {
    background-image: url('../pictures/cat2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 842px;
}

#galleryHeading {
    font-size: 45px;
}


#galleryText {
    position: absolute;
    bottom: 0;
    font-size: 25px;
}

.tb {
    height: 900px;
    display: table;
}

.tb-row {
    display: table-row;
}

.tb-cell {
    display: table-cell;
}

.text {
    width: 100%;
}

#readMore {
  width: 150px;
  height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    font-size: 25px;
    background-color: rgb(16, 16, 14);
    color: rgb(245, 237, 221);
    padding: 2px 5px;
    transition: border-width 0.2s;
    transition: color 0.2s;
    transition: background-color 0.2s;
    border-color: rgb(16, 16, 14);
}

#readMore:focus {
    outline: none;
}

#readMore:hover {
    color: black;
    background-color: rgb(245, 237, 221);
}

#readMore:active {
  border-width: 5px;
}

.info {
    position: relative;
    height: 171px;
    background-color: rgb(16, 16, 14, 0.8);
    color: rgb(245, 237, 221);
}

a:focus {
    outline: none;
}

.blogInfo {
    font-size: 35px;
}

.blogInfo p {
  margin-left: 2%;
  margin-top: 1%;
    background-color: white;
    padding: 5px;
}

.heading {
    background-color: rgb(16, 16, 14, 0.9);
    color: white;
    margin-left: 1%;
    font-size: 45px;
    padding: 4px;
}

.me {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0, 0.75);
}

.me img {
    width: 256px;
    height: 256px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
