#nav {
	background-color: #172131;
}

body {
	background-color: #e8eff9;
}

.text-holder {
	background-color: #F3F3F3;
	border-radius: 25px;
	padding: 20px; 
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #172131;
  color: white;
  display: inline;
}

.text {
	font-family: Verdana, Geneva, sans-serif;
}

.social-media {
	float:right;
}

.pic{
	width: 32px;
	height: 32px;
}

#copyright {
	margin-left: 15%;
 }

#banner {
	text-align: center;
  background: white;
}

#banner-image {
  width: 100%;
}

#add {
  background-color: #d5dce8;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  height: 35px;
}

input[type=text] {
  border: 1px solid #d1d4d6;
  border-radius: 5px;
  background-color: #f7f7f7;
}

#desc {
  width: 50%;
  height: 500px;
}